.date-button {
    margin: 0px 10px 0px 10px;
    color: #FEF5EF;
    background-color: #9D5C63;
    border-color: #9D5C63;
    border-radius: 0;
    padding: 0px 10px 0px 10px;
    width: 60px;
}

.date-button:focus {
    background-color: #824c51;
    border-color: #824c51;
}

.date-button:hover {
    background-color: #824c51;
    border-color: #824c51;
}

.date-box {
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 0px 10px;
}

.date-typography {
    line-height: normal;
    color: #FEF5EF;
}