<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
      <html xmlns:th="http://www.thymeleaf.org">
      <head>
      <title>Mail</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      text-align: center;
      align-content: center;
    }

  </style>
</head>
<body>
<h1>Hello, <span th:text="${fullName}"/>!</h1>
<p>Here is you reservation confirmation document. Please take it to the cinema and show at reception in order to realize the reservation.</p>
<p>Regards <br>Silver Cinema team</p>
</body>
</html>
